.container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            align-self: flex-start;
            color: #2c3e50;
            font-weight: 700;
            font-size: 1.5rem;
            padding: .5rem;
        }

        .field {
            border: none;
            border-top: 1.5px solid rgb(137, 137, 137);
            padding: 1.5rem;

            ul {
                display: flex;
                gap: 2rem;

                li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: white;
                    list-style: none;
                    border-radius: 1rem;
                    width: 10rem;
                    height: 14rem;
                    padding-top: 1rem;
                    cursor: pointer;
                    overflow: hidden;
                    position: relative;

                    span {
                        font-size: 1.2rem;
                        text-align: start;
                        width: 100%;
                        padding-left: 1rem;

                        h3 {
                            color: #e74c3c;
                            font-weight: 800;
                            text-transform: uppercase;
                        }
                    }

                    img {
                        height: 12rem;
                        width: auto;
                        transform: scaleX(-1) translateX(3.375rem) translateY(-0.625rem);
                    }
                }
            }
        }
    }
}