.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    width: 100%;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;

        & span {
            margin-right: 51rem;
            color: rgb(137, 137, 137);
            font-weight: 700;
            font-size: 19px;
        }

        & .logos_stores {

            & ul {
                display: flex;
                gap: .7rem;
                list-style: none;

                & li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #f3fafe;
                    border: .5px solid rgba(137, 137, 137, 0.326);;
                    padding: 1.6rem;
                    border-radius: 100%;
                    cursor: pointer;

                    & img {
                        height: 6.5rem;
                        width: auto;
                    }
                }
            }
        }
    }
}