.option {
    display: flex;
    list-style: none;
    text-align: center;
    width: 100%;

    & label {
        background-color: #f3fafe;
        width: 100%;
        border-radius: .5rem;
        padding: .5rem;
        cursor: pointer;
        color: rgb(0, 0, 0);

        &:hover {
            color: #1e6e97;
            font-weight: bold;
        }
    }
}